
$primary-background-color: #242424;
$secondary-background-color: #F1F1F1;

$primary-color: #3498db;
$secondary-color: #2980b9;
$secondary-darker-color:  #1c6da8;
$secondary-lighter-color: #507091;

$error-color: #e74c3c;
$error-secondary-color: #c0392b;
$error-darker-color: #a5281b;

$text-color: #242424;
$text-light-color: #F1F1F1;

$border-radius: 4px;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: $primary-background-color;
  color: $text-color;
}

*:focus { outline:none !important }

h2 {
  margin: 0;
}